body {
  margin:0px;
  padding:0px;
  font-family: arial;
  background: white;
}
.header-menu{
	display: flex;
	align-items: center;
	padding-top: 4%;
	padding-left: 4%;
	width: 95%;
	height: 4%;
	color: white;
	font-size: 20px;
	font-weight: bolder;
}
.header-menu img{
	margin-right: 5%;
	height: 100%;
	width: auto;
}

.header{
	z-index: -1;
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 75vh;
	background-color: #4373ed;
}

.content {
	box-shadow: 0px -8px 20px #00000047;
	position: relative;
	top: 60vh;
	border-radius: 55px 55px 0 0;
	z-index: 4;
	height: 40vh;
	background-color: white;
}